# Crimes in India - Capstone Project

## Description:

### Important notes.

- By now you have worked on many use cases. As this is a capstone project and absolutely No support will be given from the technical team so avoid asking questions on the capstone project.

- When you are analyzing any situation if you donâ€™t get proper data/information or are in doubt about anything. You are free to make assumptions and proceed. But make sure whenever you assume something you MUST write what is your assumption w.r.t that situation so that we understand your work accordingly.

- You can merge all the files or work on them individually it's up to you how you think and want to deal with it.

- You can make use of any column data for your analysis there is no fixed procedure to follow as long as your analysis makes sense.

- A simple point to keep in mind, the more the analysis is the better.

- For every analysis, document your analysis within the jupyter notebook (in the same cell where your graph or code exists)

- Write Phase number and Req. Numb for every task to identify later. You can combine requirement numbers where it is necessary.

- You need to post your complete work in LMS

- These marks will not be considered for your placement-related activities.

- You can use ANY library/module.



## Phase 1: Data Collection/preparation part.



**Note:**

- You can collect data from anywhere (wiki, google, etc) but mention the link from where data is being collected.

- You can collect the data manually. It's NOT a web scraping task.

- ***Data should be collected for the years mentioned in the files.*** (If you don't find proper data, make your best judgment and fill it, It's absolutely OK. Do not worry about data accuracy)



1. **The population of each state.** (-- 'Census of India_2001_2011 from Wikipedia.csv')
2. **Literacy Rate in each state.** (-- 'State-wise Literacy Rate of India_2001_2011 from RBI.csv')
3. **Area of each state.** (-- 'Areas of the States_UT in India from Maps Of India.csv')
4. **Create a new file and keep the above-collected data.** (-- "P1_Data Collection and Preperation.csv")

## Importing Required Libraries:

In [1]:
# Let's import all required Libraries:
from selenium.webdriver.common.keys import Keys
import selenium # Library that is used to work with selenium.
from selenium import webdriver # Importing webdriver module from selenium to open automated chrome window
import pandas as pd # to create Dataframe
from selenium.webdriver.common.by import By # importing inbuilt class by
import warnings # to ignore any sort of warning
warnings.filterwarnings("ignore")

import requests
import re # regular expression

In [2]:
# importing delays:

import time # used to stop engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait # used to stop engine for few seconds
from selenium.webdriver.support import expected_conditions as EC # EC contains a set of predefined conditions to use with WebDriverWait.

In [3]:
# importing exceptions:
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException 
from selenium.common.exceptions import ElementNotVisibleException 
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import SessionNotCreatedException
from selenium.common.exceptions import TimeoutException

## Data Collection

### 1. Extracting the population of each state:

In [44]:
# Connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\Lenovo\chromedriver_112.exe")
time.sleep(1)

# Opening 'https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population' in chrome browser:
url='https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [45]:
# Creating Empty List:
POP_01 =[]
POP_11 =[]
State_UT =[]

            # Extracting 'Population 2001 Census' into the Empty list: 
try:
    pop_01=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[8]')
    for i in pop_01:
        POP_01.append(i.text)
except NoSuchElementException:
    POP_01.append('NA')
except StaleElementReferenceException:
    POP_01.append('NA')    
# POP_01 = POP_01[0:-1]

            # Extracting 'Population 2011 Census'into the Empty list:
try:
    pop_11=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[9]')
    for i in pop_11:
        POP_11.append(i.text)
except NoSuchElementException:
    POP_11.append('NA')
except StaleElementReferenceException:
    POP_11.append('NA')
# POP_11 = POP_11[0:-1]

            # Extracting 'State_UT'into the Empty list:
try:
    state_UT=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[2]/a')
    for i in state_UT:
        State_UT.append(i.text)
except NoSuchElementException:
    State_UT.append('NA')
except StaleElementReferenceException:
    State_UT.append('NA')   
# State_UT = State_UT[0:-1]

In [46]:
len(POP_01),len(POP_11), len(State_UT)

(36, 36, 36)

In [51]:
# Dataframe for scrap data:

Wiki_POP = pd.DataFrame({'State/UT':State_UT, 'POP_2001':POP_01, 'POP_2011':POP_11})
print('\033[1m'+'Census of India(2001 & 2011) from Wikipedia :'+'\033[0m')
#Wiki_POP = Wiki_POP.set_index('State/UT')
Wiki_POP

Census of India(2001 & 2011) from Wikipedia :

                       State/UT     POP_2001     POP_2011
0   Andaman and Nicobar Islands      356,650      379,944
1                Andhra Pradesh   75,728,400   49,386,799
2             Arunachal Pradesh    1,098,328    1,382,611
3                         Assam   26,638,600   31,169,272
4                         Bihar   82,879,910  103,804,630
5                    Chandigarh      901,080    1,054,686
6                  Chhattisgarh   20,834,530   25,540,196
7        Dadra and Nagar Haveli      220,963      342,853
8                 Daman and Diu      158,080      242,911
9                         Delhi   13,851,503   16,753,235
10                          Goa    1,348,900    1,457,723
11                      Gujarat   50,597,200   60,383,628
12                      Haryana   21,083,900   25,753,081
13             Himachal Pradesh    6,077,453    6,856,509
14            Jammu and Kashmir   10,070,300   12,548,926
15                    Jharkhand   26,946,070   32,988,134
16                    Karnataka   52,734,986   61,130,704
17                       Kerala   31,839,000   33,387,677
18                  Lakshadweep       61,300       64,429
19               Madhya Pradesh   60,385,090   72,597,565
20                  Maharashtra   96,752,500  112,372,972
21                      Manipur    2,294,480    2,721,756
22                    Meghalaya    2,306,540    2,964,007
23                      Mizoram      889,690    1,091,014
24                     Nagaland    1,990,275    1,980,602
25                       Odisha   36,707,900   41,947,358
26                   Puducherry      974,820    1,244,464
27                       Punjab   24,289,130   27,704,236
28                    Rajasthan   56,473,300   68,621,012
29                       Sikkim      541,902      607,688
30                   Tamil Nadu   62,111,390   72,138,958
31                    Telangana          N/A   35,193,978
32                      Tripura    3,191,880    3,671,032
33                Uttar Pradesh  166,053,600  199,581,477
34                  Uttarakhand    8,489,100   10,116,752
35                  West Bengal   80,221,300   91,347,736

In [52]:
# saving the dataframe
Wiki_POP.to_csv('Census of India_2001_2011 from Wikipedia.csv')

### 2. Extracting the Literacy Rate in each state:

In [53]:
# Connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\Lenovo\chromedriver_112.exe")
time.sleep(1)

# Opening 'https://www.rbi.org.in/Scripts/PublicationsView.aspx?id=19995' in chrome browser:
url='https://www.rbi.org.in/Scripts/PublicationsView.aspx?id=19995'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [65]:
# Creating Empty List:
LR_01 =[]
LR_11 =[]
State_UT =[]

            # Extracting 'Population 2001 Census' into the Empty list: 
try:
    lr_01=driver.find_elements(By.XPATH,'/html/body/form/div[5]/div[3]/div/table[2]/tbody/tr[4]/td/table/tbody/tr/td[7]')
    for i in lr_01:
        LR_01.append(i.text)
except NoSuchElementException:
    LR_01.append('NA')
except StaleElementReferenceException:
    LR_01.append('NA')    
LR_01 = LR_01[1:-1]

            # Extracting 'Population 2011 Census'into the Empty list:
try:
    lr_11=driver.find_elements(By.XPATH,'/html/body/form/div[5]/div[3]/div/table[2]/tbody/tr[4]/td/table/tbody/tr/td[8]')
    for i in lr_11:
        LR_11.append(i.text)
except NoSuchElementException:
    LR_11.append('NA')
except StaleElementReferenceException:
    LR_11.append('NA')
LR_11 = LR_11[1:-1]

            # Extracting 'State_UT'into the Empty list:
try: 
    state_UT=driver.find_elements(By.XPATH,'/html/body/form/div[5]/div[3]/div/table[2]/tbody/tr[4]/td/table/tbody/tr/td[1]')
    for i in state_UT:
        State_UT.append(i.text)
except NoSuchElementException:
    State_UT.append('NA')
except StaleElementReferenceException:
    State_UT.append('NA')   
State_UT = State_UT[2:-2]

In [66]:
len(LR_01),len(LR_11), len(State_UT)

(35, 35, 35)

In [67]:
# Dataframe for scrap data:

RBI_LR = pd.DataFrame({'State/UT':State_UT, 'LR_2001':LR_01, 'LR_2011':LR_11})
print('\033[1m'+'State-wise Literacy Rate of India(2001 & 2011) from RBI :'+'\033[0m')

RBI_LR

State-wise Literacy Rate of India(2001 & 2011) from RBI :

                       State/UT LR_2001 LR_2011
0   Andaman and Nicobar Islands   81.30   86.63
1                Andhra Pradesh   60.47   67.02
2             Arunachal Pradesh   54.34   65.39
3                         Assam   63.25   72.19
4                         Bihar   47.00   61.80
5                    Chandigarh   81.94   86.05
6                  Chhattisgarh   64.66   70.28
7        Dadra and Nagar Haveli   57.63   76.24
8                 Daman and Diu   78.18   87.10
9                         Delhi   81.67   86.21
10                          Goa   82.01   88.70
11                      Gujarat   69.14   78.03
12                      Haryana   67.91   75.55
13             Himachal Pradesh   76.48   82.80
14            Jammu and Kashmir   55.52   67.16
15                    Jharkhand   53.56   66.41
16                    Karnataka   66.60   75.37
17                       Kerala   90.86   94.00
18                  Lakshadweep   86.66   91.85
19               Madhya Pradesh   63.74   69.32
20                  Maharashtra   76.88   82.34
21                      Manipur   70.50   76.90
22                    Meghalaya   62.56   74.43
23                      Mizoram   88.80   91.33
24                     Nagaland   66.59   79.60
25                       Odisha   63.08   72.89
26                   Puducherry   81.24   85.85
27                       Punjab   69.65   75.84
28                    Rajasthan   60.41   66.11
29                       Sikkim   68.81   81.42
30                   Tamil Nadu   73.45   80.09
31                      Tripura   73.19   87.22
32                Uttar Pradesh   56.27   67.68
33                  Uttarakhand   71.62   78.82
34                  West Bengal   68.64   76.26

In [68]:
# saving the dataframe
RBI_LR.to_csv('State-wise Literacy Rate of India_2001_2011 from RBI.csv')

### 3. Extracting the Area of each state in India:

In [5]:
# Connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\Lenovo\chromedriver_112.exe")
time.sleep(1)

# Opening 'https://www.mapsofindia.com/census2011/population.html' in chrome browser:
url='https://www.mapsofindia.com/census2011/population.html'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [10]:
# Creating Empty List:
State = []
Area_State = []


            # Extracting 'Population 2001 Census' into the Empty list: 
try:
    state = driver.find_elements(By.XPATH,'/html/body/div[8]/div[1]/div[2]/div[2]/div[1]/div/div[1]/div[4]/table/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
except StaleElementReferenceException:
    State.append('NA')    
State = State[1:]

            # Extracting 'Population 2011 Census'into the Empty list:
try:
    Area = driver.find_elements(By.XPATH,'/html/body/div[8]/div[1]/div[2]/div[2]/div[1]/div/div[1]/div[4]/table/tbody/tr/td[4]')
    for i in Area:
        Area_State.append(i.text)
except NoSuchElementException:
    Area_State.append('NA')
except StaleElementReferenceException:
    Area_State.append('NA')
Area_State = Area_State[1:]

In [13]:
len(Area_State), len(State)

(28, 28)

In [20]:
# Dataframe for scrap data:

MOI_Area_State = pd.DataFrame({'State/UT':State, 'Area (sq. km)':Area_State})
print('\033[1m'+'Areas of the states in India from Maps Of India:'+'\033[0m')

MOI_Area_State

Areas of the states in India from Maps Of India:

             State/UT Area (sq. km)
0      Andhra Pradesh      2,75,069
1   Arunachal Pradesh         83743
2               Assam         78438
3               Bihar         94163
4        Chhattisgarh      1,36,034
5                 Goa          3702
6             Gujarat      1,96,024
7             Haryana         44212
8    Himachal Pradesh         55673
9   Jammu and Kashmir        222236
10          Jharkhand         74677
11          Karnataka        191976
12             Kerala         38863
13     Madhya Pradesh      3,08,000
14        Maharashtra      3,07,713
15            Manipur         22327
16          Meghalaya         22720
17            Mizoram         21081
18           Nagaland         16579
19             Orissa        155820
20             Punjab         50362
21          Rajasthan      3,42,239
22             Sikkim          7096
23         Tamil Nadu      1,30,058
24            Tripura      10491.69
25        Uttaranchal         53484
26      Uttar Pradesh      2,40,928
27        West Bengal         88752

In [22]:
# Creating Empty List:
UT = []
Area_UT =[]


 # Extracting 'Population 2001 Census' into the Empty list: 
try:
    ut = driver.find_elements(By.XPATH,'/html/body/div[8]/div[1]/div[2]/div[2]/div[1]/div/div[1]/table[6]/tbody/tr/td[2]')
    for i in ut:
        UT.append(i.text)
except NoSuchElementException:
    UT.append('NA')
except StaleElementReferenceException:
    UT.append('NA')    
UT = UT[1:]

            # Extracting 'Population 2011 Census'into the Empty list:
try:
    area = driver.find_elements(By.XPATH,'/html/body/div[8]/div[1]/div[2]/div[2]/div[1]/div/div[1]/table[6]/tbody/tr/td[3]')
    for i in area:
        Area_UT.append(i.text)
except NoSuchElementException:
    Area_UT.append('NA')
except StaleElementReferenceException:
    Area_UT.append('NA')
Area_UT = Area_UT[1:]

In [25]:
len(Area_UT), len(UT)

(7, 7)

In [27]:
# Dataframe for scrap data:

MOI_Area_UT = pd.DataFrame({'State/UT':UT, 'Area (sq. km)':Area_UT})
print('\033[1m'+'Areas of the Union Territories in India from Maps Of India:'+'\033[0m')

MOI_Area_UT

Areas of the Union Territories in India from Maps Of India:

                      State/UT Area (sq. km)
0                   Chandigarh           114
1                        Delhi          1483
2  Andaman and Nicobar Islands          8249
3                   Puducherry           479
4                Daman and Diu           112
5       Dadra and Nagar Haveli           491
6                  Lakshadweep            32

In [33]:
# Combining two dataframes:
frames = [MOI_Area_State, MOI_Area_UT]
  
MOI_Area = pd.concat(frames)
MOI_Area.reset_index(inplace = True, drop = True)
display(MOI_Area)

                       State/UT Area (sq. km)
0                Andhra Pradesh      2,75,069
1             Arunachal Pradesh         83743
2                         Assam         78438
3                         Bihar         94163
4                  Chhattisgarh      1,36,034
5                           Goa          3702
6                       Gujarat      1,96,024
7                       Haryana         44212
8              Himachal Pradesh         55673
9             Jammu and Kashmir        222236
10                    Jharkhand         74677
11                    Karnataka        191976
12                       Kerala         38863
13               Madhya Pradesh      3,08,000
14                  Maharashtra      3,07,713
15                      Manipur         22327
16                    Meghalaya         22720
17                      Mizoram         21081
18                     Nagaland         16579
19                       Orissa        155820
20                       Punjab         50362
21                    Rajasthan      3,42,239
22                       Sikkim          7096
23                   Tamil Nadu      1,30,058
24                      Tripura      10491.69
25                  Uttaranchal         53484
26                Uttar Pradesh      2,40,928
27                  West Bengal         88752
28                   Chandigarh           114
29                        Delhi          1483
30  Andaman and Nicobar Islands          8249
31                   Puducherry           479
32                Daman and Diu           112
33       Dadra and Nagar Haveli           491
34                  Lakshadweep            32

In [35]:
# saving the dataframe
MOI_Area.to_csv('Areas of the States_UT in India from Maps Of India.csv')

In [36]:
driver.close()

## Data Preparation:

In [11]:
df1 = pd.read_csv('State-wise Literacy Rate of India_2001_2011 from RBI.csv')

In [12]:
df2 = pd.read_csv('Census of India_2001_2011 from Wikipedia.csv')

In [13]:
df3 = pd.read_csv('Areas of the States_UT in India from Maps Of India.csv')

In [14]:
df2 = df2.join(df1[["LR_2001","LR_2011"]])
df2 = df2.join(df3["Area (sq. km)"])
df2 = df2.drop(df2.columns[0], axis=1)
df2

,State/UT,POP_2001,POP_2011,LR_2001,LR_2011,Area (sq. km)
0,Andaman and Nicobar Islands,356650,379944,81.30,86.63,8249
1,Andhra Pradesh,75728400,84665533,60.47,67.02,275069
2,Arunachal Pradesh,1098328,1382611,54.34,65.39,83743
3,Assam,26638600,31169272,63.25,72.19,78438
4,Bihar,82879910,103804630,47.00,61.80,94163
5,Chandigarh,901080,1054686,81.94,86.05,114
6,Chhattisgarh,20834530,25540196,64.66,70.28,136034
7,Dadra and Nagar Haveli,220963,342853,57.63,76.24,491
8,Daman and Diu,158080,242911,78.18,87.10,112
9,Delhi,13851503,16753235,81.67,86.21,1483
10,Goa,1348900,1457723,82.01,88.70,3702
11,Gujarat,50597200,60383628,69.14,78.03,196024
12,Haryana,21083900,25753081,67.91,75.55,44212
13,Himachal Pradesh,6077453,6856509,76.48,82.80,55673
14,Jammu and Kashmir,10070300,12548926,55.52,67.16,222236
15,Jharkhand,26946070,32988134,53.56,66.41,74677
16,Karnataka,52734986,61130704,66.60,75.37,191976
17,Kerala,31839000,33387677,90.86,94.00,38863
18,Lakshadweep,61300,64429,86.66,91.85,32
19,Madhya Pradesh,60385090,72597565,63.74,69.32,308000
20,Maharashtra,96752500,112372972,76.88,82.34,307713
21,Manipur,2294480,2721756,70.50,76.90,22327
22,Meghalaya,2306540,2964007,62.56,74.43,22720
23,Mizoram,889690,1091014,88.80,91.33,21081
24,Nagaland,1990275,1980602,66.59,79.60,16579
25,Odisha,36707900,41947358,63.08,72.89,155820
26,Puducherry,974820,1244464,81.24,85.85,479
27,Punjab,24289130,27704236,69.65,75.84,50362
28,Rajasthan,56473300,68621012,60.41,66.11,342239
29,Sikkim,541902,607688,68.81,81.42,7096
30,Tamil Nadu,62111390,72138958,73.45,80.09,130058
31,Tripura,3191880,3671032,73.19,87.22,10492
32,Uttar Pradesh,166053600,199581477,56.27,67.68,240928
33,Uttarakhand,8489100,10116752,71.62,78.82,53484
34,West Bengal,80221300,91347736,68.64,76.26,88752

In [17]:
# saving the dataframe
df2.to_csv('P1_Data Collection and Preperation.csv')